{% extends 'base.html' %}

{% block content %}
    <div class="container card p-3 mt-5 border-dark" style = "width: 95%;">
        <h5 class= "text-center">FeedBack Form</h5>
        <hr>
        <form method="post" action="{% url 'feedback_form' %}">
            {% csrf_token %}

            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="User Name" placeholder = "User Name" name = "UserName" value="{{ user.username }}">
            </div>

            <label for="topic_select">topic_select:</label><br>
            <select name="topic_select" id="topic_select">
                {% for item in topic %}
                    <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
                </select><br>
            
            <div class="form-group">
                <input type="text" class="form-control" aria-describedby="Input Summary" placeholder = "Input Summary" name = "summary" value="{{ summary }}">
            </div>

            </br></br>
            <div class = "form-check">
                <input type = "radio" class = "form-check-input" id = "validateFormCheck1" value = "Urgen" name = "confirm">
                <label class = "form-check-label" for = "validateFormCheck1">Urgen</label>
            </div>

            <div class = "form-check">
                <input type = "radio" class = "form-check-input" id = "validateFormCheck2" value = "Not_Urgen" name = "confirm"> 
                <label class = "form-check-label" for = "validateFormCheck2">Not Urgen</label>
                {% comment %} <div class = "invalid-feedback">You must choose the option</div> {% endcomment %}
            </div>
            </br>
            <div class="form-group">
                {% comment %} <label class = "form-label"></label> {% endcomment %}
                <textarea input type="text" class="form-control" aria-describedby="Input Detail" placeholder = "Input Detail" name = "detail" value="{{ detail }}"></textarea>
            </div>
            
                {% comment %} {{file.file}} {% endcomment %}
            <div class="col">
                <input type="file" id="myFile" name="FILE_UP" placeholder="Report Attachment" enctype="multipart/form-data">
            </div>
            
            <br/>
            <button type="submit" class="btn btn-secondary">Submit</button>
            <a class="btn btn-secondary" href="{% url 'user_home' %}">Back</a>
        </form>
        
    </div>
{% endblock content%}
