{% extends 'base.html' %}

{% comment %} {% if user.is_authenticated %} {% endcomment %}
    {% block content %}
        <h1>FeedBack List</h1>
        <form action = "{% url 'feedback_form' %}">
            {% csrf_token %}
            <strong><label class = "form-check-label" for = "validateFormCheck1" name = "username">{{ username }}</label></strong>
            <br/>
            <a href="fe/" class="btn btn-outline-success">Create Form FeedBack</a>
            <br/><br/>
            <hr>
            {% for item in all %}
                <tr>
                {% comment %} <td><a href="update/{{ item.id }}">{{ item.topic_select.name}}</a></td> {% endcomment %}
                <td>Create at: {{ item.created_at }}<br/></td>
                <td><strong name = "UserName" value = {{item.UserName}}></strong><br/></td>
                <td><a href="update/{{ item.id }}">Topic: {{ item.topic_select.name }}</a><br/></td>
                <td>Level: {{ item.confirm }}<br/></td>
                <td>Summary: {{ item.summary }}<br/></td>
                <td>Detail: {{ item.detail }}<br/></td>
                <td>Status: {{ item.situation}}<br/><br/></td>
                <td>File: {{ item.file}}<br/><br/></td>
                <a href="{{ item.file.url }}" download class="btn btn-outline-success">Download File</a>
                <td><a href="delete/{{ item.id }}">Delete Form</a>
                </tr>

                <hr>

            {% endfor %}
        </form> 
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    {% endblock %}
{% comment %} {% endif %} {% endcomment %}
